body {
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 630px;
}

#image-container {
    width: 95%;  
    height: 440px; 
    overflow: auto;
    position: relative;
    border: 1px solid #000; 
    margin: 0 auto;
    overflow-y: scroll;
}

#image {
    width: 100%;
    transition: transform 0.25s ease;
    transform-origin: top left;
}

#controls {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
}

#controls button {
    padding: 0px 15px;
    font-size: 16px;
}

.transcription-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25%;
    padding: 7px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.transcription-btn:hover {
    background-color: #0056b3;
}